header
    div.main-photo
        +nav('dark')
        div.main-info
            p.main-info__about.first SOCIAL MARKETING & ANALYTICS
            p.main-info__about Pricing Table
            p.main-info__about Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
        div.main-photo__button
            p.main-photo__block
                a.main-photo__hover(href="#id")
                    span.arrow-line
                    span.right-line
                    span.left-line
