mixin nav(theme)
    if theme == 'dark'
        div.nav.nav--dark
            div.nav__logo
                a.nav__hover(href="#") 
                    img.nav__img(src="img/logo.png", alt="logo")
                    | MISOCIAL
            div.main-nav
                div.burger#burger
                    span
                ul.main-nav__menu
                    li.main-nav__element.hover
                        a.main-nav__hover(href="#") Home
                    li.main-nav__element.hover
                        a.main-nav__hover(href="#") Why MISOCIAL
                    li.main-nav__element.hover
                        a.main-nav__hover(href="#") Features
                    li.main-nav__element.hover
                        a.main-nav__hover(href="#") Articles
                    li.main-nav__element.hover
                        a.main-nav__hover(href="#") Pricing
                    li.main-nav__element.button
                        a.main-nav__hover(href="#") GET STARTED
                script(src="js/scripts.js")
    else
         div.nav.nav--light
            div.nav__logo
                a.nav__hover(href="#") 
                    img.nav__img(src="img/logo.png", alt="logo")
                    | MISOCIAL
            div.main-nav
                ul.main-nav__menu
                    li.main-nav__element.hover
                        a.main-nav__hover(href="#") Home
                    li.main-nav__element.hover
                        a.main-nav__hover(href="#") Why MISOCIAL
                    li.main-nav__element.hover
                        a.main-nav__hover(href="#") Features
                    li.main-nav__element.hover
                        a.main-nav__hover(href="#") Articles
                    li.main-nav__element.hover
                        a.main-nav__hover(href="#") Pricing
                    li.main-nav__element.button
                        a.main-nav__hover(href="#") GET STARTED
                //- script(src="js/scripts.js")



mixin img (imgSrc, price, month)
    figure.cards#id 
        img.cards__img(src=imgSrc, alt="plan")
        figcaption.cards__description
            p.cards__about personal
            .flex
                p.cards__about= price
                p.cards__about= month
            p.cards__about Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt ut. Labore et dolore magna aliqua quis nostrud exercitation ullamco laboris. Ea commodo consequat.
            p.cards__about 
                a.cards__about--hover(href="#") select plan
    



